vti_encoding:SR|utf8-nl
vti_author:SR|PSCHUCK5\\schuckp
vti_modifiedby:SR|PSCHUCK5\\schuckp
vti_timelastmodified:TR|11 Dec 2006 20:24:51 -0000
vti_timecreated:TR|11 Dec 2006 20:24:51 -0000
vti_cacheddtm:TX|11 Dec 2006 20:24:51 -0000
vti_filesize:IR|4793
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{CD167B3D-E22C-4E9C-B7BB-24F647B607A4}
vti_backlinkinfo:VX|pbr_AUCworkshops.htm
