	
	BODY	{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 13px;
				margin-top: 0;
				margin-left: 0;	}
				
	A		{	text-decoration: none;
				font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		        font-weight : bold;
        		color: #5D8BB9;	    
            }
	
	A:hover	{	text-decoration: underline;
                background-color: #ffffff;
				color: black;	
            }

	A.nav 	{	text-decoration: none;
                font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 10px;
				font-weight: bold;
				color: #ffffff;
}

	A.nav_left 	{	text-decoration: none;
                font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: #336699;
}
                
	A.nav:hover {
		background-color: #ffffff;
        text-decoration: underline;
		color: black;
	}                

	A.body  {
		        font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		        font-weight : bold;
		        color : #5D8BB9;	
	        }

	A.body:hover {
		        color:black;
	        }

    A.subtitle{
        text-decoration: none;    
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight : bold;
		font-size: 18px;        
		color : #5D8BB9;

		
	}

	A.subtitle:hover {
		color:black;
	}
	
	A.service_head{
        text-decoration: none;    
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight : bold;
		font-size: 15px;        
		color : #336699;

		
	}

	A.service_head:hover {
		color:black;
	}
                
	A.row 	{	text-decoration: none;
                font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-weight: bold;
				color: #ffffff;
}
	A.row:hover {
		color:black;
        background-color: #5D8BB9;
        text-decoration: underline;
	}                
	A.small		{	text-decoration: none;
				font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 12px;	
		        font-weight : bold;
        		color: #5D8BB9;	    
            }
	A.small:hover {
		        color:black;
	        }

		   
	A.smaller		{	text-decoration: none;
				font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 10px;	
		        font-weight : bold;
        		color: #5D8BB9;	    
            }
	A.smaller:hover {
				text-decoration: underline;
		        color:black;
	        }
		   
		   
    A.column{
        text-decoration: underline;    
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight : bold;
		font-size: 14px;        
		color : white;
	}                
	A.column:hover {
		        color: gold;
			   background-color: #5D8BB9;
	        }
    
	FONT.service_head{
        text-decoration: none;    
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight : bold;
		font-size: 15px;        
		color :black;

		
	}
	
	 LI   {	margin-bottom: .5em;
					    
            }
		                   
    .PageTitle   {	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 26px;	
				font-weight: Bold;                
				color: #5D8BB9;	    
            }			

	
	.small		{
        text-decoration: none;    
		font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-weight : normal;
		font-size: 11px;        
		color :black;

		
	}
	
	.big		{	font-size: 112%;	}
	
	TD		{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 13px;	}

	SMALL	{	font-size: 88%;	}
	
	FORM	{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 12px;
				color: #000000;	}

	ADDRESS	{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 11px; }





	.d		{	text-decoration: none;
				color: #efccef;		}

    TH		{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 15px;	
                font-weight: Bold; }

      .mybutton{
    font-size: 13px;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-weight: Bold; 
      color: #FFFFFF;
    border-left: #E6F7FF 2px outset;
    border-right: #525f99 2px inset;
    border-top: #E6F7FF 2px outset;
      border-bottom: #525f99 2px inset;
    background-color:#5D8BB9;

      }
      .mysmallbutton{
    font-size: 10px;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-weight: Bold; 
      color: #FFFFFF;
    border-left: #E6F7FF 1px outset;
    border-right: #525f99 1px inset;
    border-top: #E6F7FF 1px outset;
      border-bottom: #525f99 1px inset;
    background-color:#5D8BB9;

      }
   

