.mstheme
{
	separator-image: url(spirulea.gif);
	list-image-1: url(spibul1a.gif);
	list-image-2: url(spibul2a.gif);
	list-image-3: url(spibul3a.gif);
	nav-banner-image: url(spibana.gif);
	navbutton-horiz-normal: url(spinavha.gif);
	navbutton-horiz-hovered: url(spinavhh.gif);
	navbutton-horiz-pushed: url(spinavhe.gif);
	navbutton-vert-normal: url(spinavva.gif);
	navbutton-vert-hovered: url(spinavvh.gif);
	navbutton-vert-pushed: url(spinavve.gif);
	navbutton-home-normal: url(spihoma.gif);
	navbutton-home-hovered: url(spihomh.gif);
	navbutton-home-pushed: url(spihoma.gif);
	navbutton-next-normal: url(spinxta.gif);
	navbutton-next-hovered: url(spinxth.gif);
	navbutton-next-pushed: url(spinxta.gif);
	navbutton-prev-normal: url(spiprea.gif);
	navbutton-prev-hovered: url(spipreh.gif);
	navbutton-prev-pushed: url(spiprea.gif);
	navbutton-up-normal: url(spiupa.gif);
	navbutton-up-hovered: url(spiuph.gif);
	navbutton-up-pushed: url(spiupa.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 51, 51);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 51, 51);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}
.mstheme-navtxthome
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(spibul1a.gif);
}
ul ul
{
	list-style-image: url(spibul2a.gif);
}
ul ul ul
{
	list-style-image: url(spibul3a.gif);
}
a:link
{
	color: rgb(0, 0, 255);
}
a:active
{
	color: rgb(204, 51, 0);
}
a:visited
{
	color: rgb(128, 0, 128);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(0, 0, 0);
	table-border-color-dark: rgb(0, 0, 0);
}
h1
{
	color: rgb(0, 0, 0);
}
h2
{
	color: rgb(0, 0, 0);
}
h3
{
	color: rgb(0, 51, 102);
}
h4
{
	color: rgb(0, 0, 0);
}
h5
{
	color: rgb(51, 51, 102);
}
h6
{
	color: rgb(0, 0, 0);
}
button
{
	background-color: rgb(0, 102, 102);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 51, 51);
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(0, 102, 102);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(0, 102, 102);
}
th
{
	color: rgb(0, 51, 51);
}
.mstheme
{
	navbutton-background-color: rgb(102,153,153);
	top-bar-button: url(spiglobd.gif);
}
.mstheme-topbar-font
{
	font-family: Verdana, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,102,102);
}
body
{
	font-family: Verdana, Arial, Helvetica;
	background-image: url(spitxtr.jpg);
}
h1
{
	font-family:  Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 24pt;
}
h2
{
	font-family:  Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
}
h3
{
	font-family:  Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
}
h4
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}
h5
{
	font-family:  Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
}
h6
{
	font-family:  Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
}
BUTTON 
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family:  Verdana, Arial, Helvetica;
	font-style: normal; 
}
LABEL, .MSTHEME-LABEL
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style:normal; 
}
TEXTAREA
{
	border-style: solid;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
FIELDSET
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 	
}
LEGEND	
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
SELECT
{
	border-style: solid;
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
TABLE
{
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
CAPTION 
{
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
TH
{
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
MARQUEE
{
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica;
}