vti_encoding:SR|utf8-nl
vti_author:SR|SchuckP
vti_modifiedby:SR|SchuckP
vti_timecreated:TR|25 Apr 2001 01:38:19 -0000
vti_timelastmodified:TR|25 Apr 2001 01:38:19 -0000
vti_extenderversion:SR|4.0.2.3406
vti_cacheddtm:TX|25 Apr 2001 00:38:20 -0000
vti_filesize:IR|2229
vti_cachedlinkinfo:VX|S|spirulea.gif S|spibul1a.gif S|spibul2a.gif S|spibul3a.gif S|spibana.gif S|spinavha.gif S|spinavhh.gif S|spinavhe.gif S|spinavva.gif S|spinavvh.gif S|spinavve.gif S|spihoma.gif S|spihomh.gif S|spihoma.gif S|spinxta.gif S|spinxth.gif S|spinxta.gif S|spiprea.gif S|spipreh.gif S|spiprea.gif S|spiupa.gif S|spiuph.gif S|spiupa.gif S|spibul1a.gif S|spibul2a.gif S|spibul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sedfit-spiral/spirulea.gif FSUS|_themes/sedfit-spiral/spibul1a.gif FSUS|_themes/sedfit-spiral/spibul2a.gif FSUS|_themes/sedfit-spiral/spibul3a.gif FSUS|_themes/sedfit-spiral/spibana.gif FSUS|_themes/sedfit-spiral/spinavha.gif FSUS|_themes/sedfit-spiral/spinavhh.gif FSUS|_themes/sedfit-spiral/spinavhe.gif FSUS|_themes/sedfit-spiral/spinavva.gif FSUS|_themes/sedfit-spiral/spinavvh.gif FSUS|_themes/sedfit-spiral/spinavve.gif FSUS|_themes/sedfit-spiral/spihoma.gif FSUS|_themes/sedfit-spiral/spihomh.gif FSUS|_themes/sedfit-spiral/spihoma.gif FSUS|_themes/sedfit-spiral/spinxta.gif FSUS|_themes/sedfit-spiral/spinxth.gif FSUS|_themes/sedfit-spiral/spinxta.gif FSUS|_themes/sedfit-spiral/spiprea.gif FSUS|_themes/sedfit-spiral/spipreh.gif FSUS|_themes/sedfit-spiral/spiprea.gif FSUS|_themes/sedfit-spiral/spiupa.gif FSUS|_themes/sedfit-spiral/spiuph.gif FSUS|_themes/sedfit-spiral/spiupa.gif FSUS|_themes/sedfit-spiral/spibul1a.gif FSUS|_themes/sedfit-spiral/spibul2a.gif FSUS|_themes/sedfit-spiral/spibul3a.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_ftp.analyticalultracentrifugation.com\:21:TX|25 Apr 2001 00:38:20 -0000
vti_syncofs_ftp.analyticalultracentrifugation.com\:21:TW|11 Jul 2001 09:27:00 -0000
